{%- if entry.type == 'github' -%}
  {%- assign icon_name = 'fab fa-github' -%}
{%- elsif entry.type == 'twitter' -%}
  {%- assign icon_name = 'fab fa-twitter' -%}
{%- elsif entry.type == 'email' -%}
  {%- assign icon_name = 'fas fa-envelope' -%}
{%- elsif entry.type == 'rss' -%}
  {%- assign icon_name = 'fas fa-rss' -%}
{%- else -%}
  {%- assign icon_name = 'fas fa-link' -%}
{%- endif -%}

{%- if entry.url -%}
  <a
    href="{{ entry.url }}"
    aria-label="{{ entry.type }}"
    {% unless entry.noblank %}target="_blank" rel="noopener noreferrer"{% endunless %}
  >
    <i class="{{ icon_name }}"></i>
  </a>
{%- endif -%}
