<footer class="footer-bottom text-center mt-auto py-3">
  <div class="d-flex justify-content-center">
    <p>
      &copy;
      <span id="copyright-year"></span>
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>. {%- if
      site.data.locales[site.lang].copyright.brief -%}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[site.lang].copyright.verbose }}"
        >{{ site.data.locales[site.lang].copyright.brief }}</span
      >
      {%- endif -%}
    </p>
  </div>
</footer>
